<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> funding organizer </h1><br>

        <form method="POST", action="{{url_for('home')}}">
          <b>
            category :  <input type="text", name='b', placeholder="enter 1"> <br><br>
            title :  <input type="text", name='a', placeholder="enter 1"> <br><br>
          </b>
          <input type="submit" , value='predict!' >
        </form>

        <img src='static\flower1.jpg' alt="flower">

    </center>

    </body>
</html>
